{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow p-4 mx-auto" style="max-width: 500px;">
        <h3 class="mb-3 text-center">Change Password</h3>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary">
                    Update Password
                </button>
            </div>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'my_profile' %}">Back to Profile</a>
        </div>
    </div>
</div>
{% endblock %}
